<div>
<table border="0">
  <tr>
    <td width="75%">
      <h1>林春雨</h1>
      <p><b>教授 博导 博士</b></p>
      <p><b>北京交通大学 计算机与信息技术学院 信息科学研究所</b></p>
      <p><b>邮箱：cylin@bjtu.edu.cn</b></p>
      <p><b>地址：北京市海淀区上元村3号，信息楼9教北618，邮编100044</b></p>
      <p><a href="/index-en.html">English Version</a></p>
    </td>
    <td width="35%">
      <img src="./lin2.jpg" width="100%">
    </td>
  </tr>
</table>
</div>
### 教育经历
- 2011.01， 北京交通大学 博士 信号与信息处理 师从赵耀教授
- 2009.10-2010.10，荷兰代尔夫特理工大学 访问学者  EWI  师从 R.L. (Inald) Lagendijk 教授
- 2011.07-2012.08，比利时根特大学  博士后 MMLAB 师从 Rik Van de Walle 教授
- 2020.01-2021.01，加拿大英属哥伦比亚大学  访问学者  师从 Jane Wang 教授


### 研究方向
- <a href="./coding.html">图像视频编解码</a>
- <a href="./3d.html">三维视频处理</a>
- <a href="./adas.html">基于视觉的ADAS及自动驾驶</a>
- <a href="./vr.html">虚拟现实及增强现实中的视觉算法研究</a>

### 项目研究
- 北京交通大学: 多源信息融合障碍物检测系统
- 国家自然科学基金“面上”: 深度神经网络辅助的交互式多视点视频技术研究
- 北京交通大学: TOF超分和边缘优化技术合作项目
- 国家重点实验室开放课题:虚拟现实视频的获取及编码算法
- 国家重点研发计划-任务: 公共路权运行环境下行人运动状态感知、态势分析、风险辨识及预警技术
- 北京交通大学: 中兴产学研项目-神经网络压缩算法FPGA实现
- 基本科研业务费: VR视频的高效模型表示及流式传输
- 基本科研业务费: 基于人工智能的轨道交通安全
- 国家自然科学基金“面上”: 沉浸式3D全景视频的表示编码及传输
- 基本科研业务费: 面向轨道交通的跨视域多场景视频内容分析与安全
- 教育部: 多媒体数字取证技术与语义实时处理技术在新型不良信息治理中的应用
- 北京交通大学: 环视3D全景辅助汽车驾驶系统
- 北京交通大学: 汽车全自动泊车系统
- 北京交通大学: 汽车高级驾驶辅助系统（ADAS）
- 国家自然科学基金: 基于DASH的交互式三维视频系统建模
- 基本科研业务费: MPTCP框架下多视点视频的可靠编码
- 国家自然科学基金"青年基金": 三维视频显著对象编码及可靠传输
- 博士点基金: 结合深度图特性的3D视频的鲁棒编码
- 基本科研业务费人才基金: 立体视频中深度信息的提取及其鲁棒编解码
- 国家自然科学基金“重大”: 基于对象和MacroCube 的三维视频的编码和理解